<p id="notice"><%= notice %></p>

<p>
  <p>
    <%= @node.description %>
  </p>
  <% @exits.each do |path| %>
    <p>
      <%= path.start_description %>
    </p>
  <% end %>
</p>

  <% @exits.each do |path| %>
    <%= link_to( path.start_label, path.end_node, { class: 'path-button' } ) %>
  <% end %>

